.content {
    height: 400px;
    width: 400px;
    background: black;
    margin: auto;
    position: relative;
}
.content li {
    border-radius: 0;
    background: white;
    height: 2px;
    width: 2px;
    position: absolute;
}

.content li.current {
    background: red;
}
