body {
    color: #cdd422;
}

a {
    color:#c2dde6
}

.square {
    background: #431c5d;
}

.queen {
    background: #e05915;
}

.point.shadow {
    fill: #bccbde
}

svg {
    background: rgba(224, 89, 21, 0.5);
}

.wrapper {
    background: rgba(230, 233, 240, 0.15);
}
.point.placed {
    fill: #cdd422;
}
.point.active {
    fill: #431c5d;
}


article {
    padding: 10px;
    background-color: rgba(35, 28, 93, 0.50);
    margin: 10px;
}   

/* 
Not currently used so not considered. 

button {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
}

button.active {
    background: #ab3c3c;
    box-shadow: 0 6px #cb4e4e;
}

select {
    border: 1px solid #ab3c3c;
    color: #fff;
    background-color: #cb4e4e;
} 
*/

