body {
    margin: 10px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
}
content {
    max-width: 800px;
    margin: auto;
    display: block;
}

.paddingRight10 {
    padding-right: 10px
}

header {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

figure {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

a {
    font-weight: bold;
}

figcaption {
    font-size: 10px;
}

video {
    padding: 10px;
}

.left {
    float: left;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.square {
    background: aliceblue;
    width: calc(100% / 8);
    height: calc(100% / 8);
    float: left;
    display: block;
    box-sizing: border-box;;
}

.queen {
    background: floralwhite;
}

p, h2, h3, h4, h5, h6, pre, .normal {
    padding: 10px;
    max-width: 1080px;
    margin: auto;
}

p {
    text-indent: 5em;
}

button.remove {
    border-radius: 100%;
    padding: 3px 5px;
    margin: 2px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    box-shadow: none;
}

.step-count {
    font-size: 12px
}

.point {
    fill: transparent;
    position: absolute;
    display: block;
    box-sizing: border-box;
    stroke: black;
    stroke-width: 1;
    transition: fill 0.3s ease-out;
}

.point.shadow {
    fill: lightgrey
}

svg {
    display: block;
    background: aliceblue;
    position: relative;
}

.wrapper {
    display: inline-block;
    margin: 1%;
    background: lightgrey;
    width: 18%;
    min-width: 250px;
    position: relative;
}

.board {
    margin: 5px;
}

.point.active {
    fill: blue;
}
.point.placed {
    fill: black
}

button {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 20px;
    outline: none;
    position: relative;
    box-sizing: border-box;
}

button.active {
    background: #ab3c3c;
    box-shadow: 0 6px #cb4e4e;
}

.auto button, button:disabled {
    background: #ccc;
    box-shadow: 0 6px #aaa;
    color: #888;
    opacity: 0.3;
}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 5px;
    height: 34px;
    width: 150px;
    border: 1px solid #ab3c3c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #cb4e4e;
}

circle {
}

h1 {
    margin: 3px auto;
    text-align: center;
}

.wrapper h1 {
    font-size: 16px;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.controls {
    padding: 5px;
}

content div.two .wrapper {
    width: 44%;
    margin: 3%;
    min-width: 0;
}

content div.four .wrapper {
    width: 23%;
    margin: 1%;
    min-width: 0;
}

content div.three .wrapper {
    width: 29%;
    margin: 2%;
    min-width: 0;
}

.graph {
    height: 400px !important
}

#previous {
    margin: 10px auto;
    border-top: 10px solid #ccc
}

.wrapper h1 {
    font-size: 14px;
}

.done {
  box-sizing: border-box;
  border: 5px solid black;
}
