html {
    background: aliceblue;
}

body {
    text-align: center
}

.content {
    height: 400px;
    width: 400px;
    background: black;
    margin: auto;
    position: relative;
}
.content li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: white;
    height: 4px;
    width: 4px;
    position: absolute;
}

.hidden {
    display: none;
}

.card header {
    cursor: pointer;
}

.card header:hover {
    background: #eee;
}

.footer-hidden footer {
    display: none
}

.content li.current {
    background: red;
}

.content:after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

a {
    display: block;
}

p {
    text-align: center;
    font-family: sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

.card {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
body {
    background: transparent;
}
