.point {
    background: orange;
    position: absolute;
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
}

.board {
    display: block;
    background: aliceblue;
    position: relative;
    border: 1px solid black;
}

.wrapper {
    display: inline-block;
    margin: 10px;
    background: lightgrey;
}

.point.active {
    background: blue;
}

button {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 20px;
    outline: none;
    position: relative;
    box-sizing: border-box;
}

button.active {
    background: #ab3c3c;
    box-shadow: 0 6px #cb4e4e;
}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 5px;
    height: 34px;
    width: 150px;
    border: 1px solid #ab3c3c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #cb4e4e;
}
