body {
    margin: 0px;
}

button.remove {
    border-radius: 100%;
    padding: 3px 5px;
    margin: 2px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    box-shadow: none;
}

.step-count {
    font-size: 12px
}

.point {
    fill: transparent;
    position: absolute;
    display: block;
    box-sizing: border-box;
    stroke: black;
    stroke-width: 1;
    transition: fill 0.3s ease-out;
}

.point.shadow {
    fill: lightgrey
}

svg {
    display: block;
    background: aliceblue;
    position: relative;
}

.wrapper {
    display: inline-block;
    margin: 1vw;
    background: lightgrey;
    width: 18vw;
    min-width: 250px;
    position: relative;
}

.board {
    margin: 5px;
}

.point.active {
    fill: blue;
}
.point.placed {
    fill: black
}

button {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 20px;
    outline: none;
    position: relative;
    box-sizing: border-box;
}

button.active {
    background: #ab3c3c;
    box-shadow: 0 6px #cb4e4e;
}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 5px;
    height: 34px;
    width: 150px;
    border: 1px solid #ab3c3c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #cb4e4e;
}

circle {
}

h1 {
    margin: 3px auto;
    text-align: center;
    font-size: 16px;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.controls {
    padding: 5px;
}
