<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/picnicss/6.1.4/picnic.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    </head>
    <body>
        <script id="sort" type="text/template" class="template">
            <h1>
                <%= name %>
            </h1>
            <button class="reset warning">Reset</button>
            <a href="index.html" class="pseudo button"><< Back</a>

            <div class="content-section">
                <ul class="content">
                </ul>

                <div class="size-select card">
                    <header>Item Size</header>
                    <footer>
                      <label class="stack">
                        <input name="stack" type="radio">
                        <span class="button toggle x-x-sm">
                          X-X-Small
                        </span>
                      </label>
                      <label class="stack">
                        <input name="stack" type="radio">
                        <span class="button toggle x-sm">
                           X-Small
                        </span>
                      </label>
                      <label class="stack">
                        <input name="stack" type="radio">
                        <span class="button toggle sm">
                           Small
                        </span>
                      </label>
                      <label class="stack">
                        <input checked name="stack" type="radio">
                        <span class="button toggle md">
                           Medium
                        </span>
                      </label>
                      <label class="stack">
                        <input name="stack" type="radio">
                        <span class="button toggle lg">
                          Large
                        </span>
                      </label>
                      <label class="stack">
                        <input name="stack" type="radio">
                        <span class="button toggle x-lg">
                           X-Large
                        </span>
                      </label>
                      <label class="stack">
                        <input name="stack" type="radio">
                        <span class="button toggle x-x-lg">
                           X-X-Large
                        </span>
                      </label>
                  </footer>
                </div>
                <div class="sort-select">
                    <article class="card footer-hidden">
                        <header>
                            Exchange Sorts
                        </header>
                        <footer>
                            <a href="sorts.html?bogo" class="stack button">Bogo Sort</a>
                            <a href="sorts.html?bubble" class="stack button">Bubble Sort</a>
                            <a href="sorts.html?cocktail" class="stack button">Cocktail Sort</a>
                            <a href="sorts.html?comb" class="stack button">Comb Sort</a>
                            <a href="sorts.html?gnome" class="stack button">Gnome Sort</a>
                            <a href="sorts.html?oddEven" class="stack button">Odd-Even Sort</a>
                            <a href="sorts.html?quicksort" class="stack button">Quicksort</a>
                            <a href="sorts.html?stooge" class="stack button">Stooge Sort</a>
                        </footer>
                    </article>
                    <article class="card footer-hidden">
                        <header>
                            <h4>Selection Sorts</h4>
                        </header>
                        <footer>
                            <a disabled class="stack button">Cartesian Tree Sort</a>
                            <a href="sorts.html?cycle" class="stack button">Cycle Sort</a>
                            <a disabled class="stack button">Heap Sort</a>
                            <a href="sorts.html?selection" class="stack button">Selection Sort</a>
                            <a disabled class="stack button">Smooth Sort</a>
                            <a disabled class="stack button">Tournament Sort</a>
                        </footer>
                    </article>
                </div>
            </div>

            <button class="success faster">Faster</button>
            <span class="delay"><%= delay %> milliseconds</span>
            <button class="success slower">Slower</button>
        </script>

        <script src="js/sort.js"></script>
        <script src="js/bogo.js"></script>
        <script src="js/bubble.js"></script>
        <script src="js/cocktail.js"></script>
        <script src="js/comb.js"></script>
        <script src="js/gnome.js"></script>
        <script src="js/odd_even.js"></script>
        <script src="js/quick_sort.js"></script>
        <script src="js/stooge.js"></script>

        <script src="js/selection.js"></script>
        <script src="js/cycle.js"></script>
        </script>

    </body>
</html>
