{% include "./controls/home.njk" %}
<h2>Pipe</h2>
<div>
  This visualization shows the profile for a given sort.
</div>
<article class="sorting">
  <div class="controls clear">
    <div>
      {% include "./controls/sort.njk" %}
      {% include "./controls/count.njk" %}
      {% include "./controls/order.njk" %}
      {% include "./controls/values.njk" %}
    </div>
    {% include "./controls/runButtons.njk" %}
  </div>
</article>
  <div id="pipe">
  </div>

  <style>
    path {
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-opacity: 0.6;
    }
  </style>

