<div><a href="../../index.html">Index</a></div>
<div><a href="javascript:history.back()"><< Back</a></div>
<article class="sorting">
  <div class="controls">
    <div>
      {% include "./controls/sort.njk" %}
      {% include "./controls/count.njk" %}
      {% include "./controls/order.njk" %}
      {% include "./controls/values.njk" %}
      {% include "./controls/checkboxes.njk" %}
    </div>
    {% include "./controls/profileButtons.njk" %}
    <div>
      Sorts: <span id="sorts"></sorts>
    </div>
  </div>
  <div id="graph">
  </div>

  <div id="previous">
  </div>

  <style>
    path {
      stroke: black;
      fill: none;
    }

    .swaps-0 {
      stroke: #1f77b4;
      fill: #1f77b4;
    }
    .comps-0 {
      stroke: #aec7e8;
      fill: #aec7e8;
    }
    .item:nth-child(1) .swaps {
      color: #1f77b4;
    }
    .item:nth-child(1) .comps {
      color: #aec7e8;
    }

    .swaps-1 {
      stroke: #ff7f0e;
      fill: #ff7f0e;
    }
    .comps-1 {
      stroke: #ffbb78;
      fill: #ffbb78;
    }
    .item:nth-child(2) .swaps {
      color: #ff7f0e;
    }
    .item:nth-child(2) .comps {
      color: #ffbb78;
    }

    .swaps-2 {
      stroke: #2ca02c;
      fill: #2ca02c;
    }
    .comps-2 {
      stroke: #98df8a;
      fill: #98df8a;
    }
    .item:nth-child(3) .swaps {
      color: #2ca02c;
    }
    .item:nth-child(3) .comps {
      color: #98df8a;
    }

    .swaps-3 {
      stroke: #d62728;
      fill: #d62728;
    }
    .comps-3 {
      stroke: #ff9896;
      fill: #ff9896;
    }
    .item:nth-child(4) .swaps {
      color: #d62728;
    }
    .item:nth-child(4) .comps {
      color: #ff9896;
    }

    .swaps-4 {
      stroke: #9467bd;
      fill: #9467bd;
    }
    .comps-4 {
      stroke: #c5b0d5;
      fill: #c5b0d5;
    }
    .item:nth-child(5) .swaps {
      color: #9467bd;
    }
    .item:nth-child(5) .comps {
      color: #c5b0d5;
    }

    .swaps-5 {
      stroke: #8c564b;
      fill: #8c564b;
    }
    .comps-5 {
      stroke: #c49c94;
      fill: #c49c94;
    }
    .item:nth-child(6) .swaps {
      color: #8c564b;
    }
    .item:nth-child(6) .comps {
      color: #c49c94;
    }

    .swaps-6 {
      stroke: #e377c2;
      fill: #e377c2;
    }
    .comps-6 {
      stroke: #f7b6d2;
      fill: #f7b6d2;
    }
    .item:nth-child(7) .swaps {
      color: #e377c2;
    }
    .item:nth-child(7) .comps {
      color: #f7b6d2;
    }

    .swaps-7 {
      stroke: #7f7f7f;
      fill: #7f7f7f;
    }
    .comps-7 {
      stroke: #c7c7c7;
      fill: #c7c7c7;
    }
    .item:nth-child(8) .swaps {
      color: #7f7f7f;
    }
    .item:nth-child(8) .comps {
      color: #c7c7c7;
    }

    .swaps-8 {
      stroke: #bcbd22;
      fill: #bcbd22;
    }
    .comps-8 {
      stroke: #dbdb8d;
      fill: #dbdb8d;
    }
    .item:nth-child(9) .swaps {
      color: #bcbd22;
    }
    .item:nth-child(9) .comps {
      color: #dbdb8d;
    }

    .swaps-9 {
      stroke: #17becf;
      fill: #17becf;
    }
    .comps-9 {
      stroke: #9edae5;
      fill: #9edae5;
    }
    .item:nth-child(10) .swaps {
      color: #17becf;
    }
    .item:nth-child(10) .comps {
      color: #9edae5;
    }

    .line {
      fill: none;
    }
  </style>
</article>
