<div><a href="../../index.html">Index</a></div>
<div><a href="javascript:history.back()"><< Back</a></div>
<article class="sorting">
  <div class="controls">
    <div>
      {% include "./controls/sort.njk" %}
      {% include "./controls/count.njk" %}
      {% include "./controls/order.njk" %}
      {% include "./controls/values.njk" %}
    </div>
    {% include "./controls/runButtons.njk" %}
  </div>
  <div id="boards"></div>
</article>

