{% include "./controls/home.njk" %}
<h2>Scatter Plots</h2>
<div>
  This visualization uses scatter plots to show the sort.
</div>
<article class="sorting">
  <div class="controls">
    <div>
      {% include "./controls/sort.njk" %}
      {% include "./controls/count.njk" %}
      {% include "./controls/order.njk" %}
      {% include "./controls/values.njk" %}
    </div>
    {% include "./controls/runButtons.njk" %}
  </div>
  <div id="boards"></div>
</article>

<style>
  #content {
    width: 90%;
    max-width: none;
  }
</style>

