<div class="controls">
  <div>
    {% include "./controls/sort.njk" %}
    {# {% include "./controls/count.njk" %} #}
    {% include "./controls/order.njk" %}
    {# {% include "./controls/values.njk" %} #}
    {# {% include "./controls/checkboxes.njk" %} #}
  </div>

<div id="single"></div>

<style>
  .wrapper {
    display: block;
    margin: auto;
  }
</style>
