{% include "./controls/home.njk" %}
<h2>Stick Visualization</h2>
<div>
  This visualization uses lines at various angles to show the sort.
</div>
<article class="sorting">
  <div class="controls">
    <div>
      {% include "./controls/sort.njk" %}
      {% include "./controls/count.njk" %}
      {% include "./controls/order.njk" %}
      {% include "./controls/values.njk" %}
    </div>
    {% include "./controls/runButtons.njk" %}
  </div>
</article>

<div id="sticks">
</div>

<style>
  #content {
    width: 90%;
    max-width: none;
  }
  svg {
    margin: 20px auto;
  }
  line {
    stroke: black;
    stroke-width: 3px;
  }
  line.placed {
    stroke: purple;
  }
  line.shadow {
    stroke: gray;
  }
  .reset {
    position: absolute;
    right: 0;
    z-index: 100;
  }
  line.active {
    stroke: blue;
  }
</style>

