<div class="wrapper" id="{{name}}">
  <h1>{{title}}</h1>
  <span class="data">
    <div class="board-information">
      {% include "./boardData.njk" %}
    </div>
    {% if verbosity > 3 %}
    <button class="remove" {% if disabled %}disabled{% endif %}>X</button>
    {% endif %}
    {% if verbosity > 1 %}
      <button class="reset" {% if disabled %}disabled{% endif %}>Reset</button>
    {% endif %}
    <svg viewBox="0 0 {{width + 40}} {{height + 40}}">
      <g transform="translate(20, 20)" class="board">
      </g>
      <g transform="translate(20, 20)" class="shadow">
      </g>
    </svg>
  </span>
</div>
