<div class="wrapper" id="{{name}}">
  <h1>{{title}}</h1>
  <span class="data">
    <div>
      {% if verbosity > 2 %}
        <span class="nowrap">Order Type: {{shuffleTitle}}.</span>
        <span class="nowrap">Value Type: {{board.valueType.title}}.</span>
        <span class="nowrap">Point Count: {{board.size.label}}.</span>
      {% endif %}
      {% if verbosity > 1 %}
      <span class="nowrap">Steps: {{sort.steps}}</span>
      <span class="nowrap">Comparisons: {{sort.comparisons}}</span>
      <span class="nowrap">Moves: {{sort.moves}}</span>
      {% endif %}
    </div>
    {% if verbosity > 3 %}
    <button class="remove">X</button>
    {% endif %}
    {% if verbosity > 1 %}
      <button class="reset">Reset</button>
    {% endif %}
    <svg viewBox="0 0 {{width + 40}} {{height + 40}}">
      <g transform="translate(20, 20)" class="board">
      </g>
      <g transform="translate(20, 20)" class="shadow">
      </g>
    </svg>
  </span>
</div>
