<span id="{{name}}" class="item">
  <div>
    <p class="list-wrapper">{{sortName}}.
      <b>Order Type</b>: {{shuffleName}}.
      <b>Value Type</b>: {{valueType}}.
      <b>Point Count</b>: {{size}}.
      <b class="swaps">Swaps.</b>
      <b class="comps">Comps.</b>
      <span class="remove">
        <u>Remove</u>
      </span>
    </p>
  </div>
</span>
