<label>
  Point count:
  <select id="size">
    {% for name, size in sizes %}
      <option value="{{name}}"
        {% if defaults.count === name %}
          selected
        {% endif %}
      >{{size.label}}</option>
    {% endfor %}
  </select>
<label>
