<label>
  Order:
  <select id="order">
    {% for name, order in shuffles %}
      {% if order.title %}
        <option value="{{name}}"
          {% if defaults.shuffle === name %}
            selected
          {% endif %}
        >{{order.title}}</option>
      {% endif %}
    {% endfor %}
  </select>
<label>
